@import '~@styles/config/variables';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~@styles/base/placeholders';

.cart {
  background-color: blueviolet;
}

.list {
  @extend %products-list;
}

.list-side-bar {
  margin: 0;
  flex: none;
}
