@import '~@styles/config/variables';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~@styles/base/placeholders';

.list {
  @extend %products-list;
  margin: 0 auto;
  max-width: 550px;
}

.list-side-bar {
  margin: 0;
  flex: none;
}

.info {
  padding: 20px 0 0;
  border-top: 1px solid $very-light-grey;

  .total {
    display: flex;
    justify-content: space-between;

    b {
      font-size: $font-size-medium-large;
      color: $flamenco;
    }
  }
}

.checkout-button {
  width: 100%;
}
