@import '~@styles/config/variables';
@import '~@styles/helpers/mixins';

.product {
  &#{&} {
    $spacing: $product-spacing * 2;

    margin: 0 $product-spacing 26px;
    overflow: hidden;
    position: relative;

    @include breakpoint(map-get($breakpoints, small)) {
      flex-basis: calc(50% - #{$spacing});
    }

    @include breakpoint(map-get($breakpoints, medium)) {
      flex-basis: calc(33.3333% - #{$spacing});
    }

    @include breakpoint(map-get($breakpoints, large)) {
      flex-basis: calc(25% - #{$spacing});
    }

    @include breakpoint(orientation landscape) {
      @include breakpoint(map-get($breakpoints, small)) {
        flex-basis: calc(33.333% - #{$spacing});
      }

      @include breakpoint(map-get($breakpoints, medium)) {
        flex-basis: calc(25% - #{$spacing});
      }
    }
  }

  &-image {
    margin: 0 (-$product-spacing) 10px;
    width: auto;
    height: auto;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-content {
    padding: 0 0 35px;

    @include breakpoint(map-get($breakpoints, large)) {
      position: relative;
    }

    &-title {
      padding-right: 50px;
      font-size: $font-size-normal;

      @include breakpoint(map-get($breakpoints, medium)) {
        font-size: $font-size-medium-large;
      }
    }

    &-price {
      bottom: 10px;
      margin: 0;
      font-size: $font-size-medium;
      color: $royal-blue;
      position: absolute;

      @include breakpoint(map-get($breakpoints, medium)) {
        font-size: $font-size-medium-large;
      }

      @include breakpoint(map-get($breakpoints, large)) {
        top: 0;
        right: 0;
      }
    }

    &-currency {
      font-size: 0.8em;
      display: inline-block;
      transform: rotate(12deg);
    }

    &-description {
      display: none;

      @include breakpoint(map-get($breakpoints, medium)) {
        font-size: $font-size-normal;
        display: block;
      }
    }
  }

  &-info {
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;

    @include breakpoint(map-get($breakpoints, large)) {
      justify-content: space-between;
    }
  }

  &-favorite-button {
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    opacity: 0.65;
    position: absolute;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    svg {
      fill: $white;
      stroke: $red;
      filter: drop-shadow(2px 2px 3px rgba($black, 0.7));
    }
  }

  &-favorite-button-active {
    svg {
      fill: $red;
      stroke: $white;
    }
  }
}

.product-sidebar {
  &#{&} {
    margin: 0 0 26px;
    padding: 0;
    width: 100%;
    flex: none;
    flex-direction: row;
    border-radius: 0;
    box-shadow: none;
  }

  &-image {
    margin: 0 15px 0 0;
    display: flex;
    flex: 1 0 35%;
    overflow: hidden;
    border-radius: 10px;

    img {
      height: fit-content;
    }
  }

  &-content {
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    &-price {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &-favorite-button {
    top: 4px;
    left: 4px;
  }
}

.amount-control {
  width: 100px;

  input {
    width: 100%;
  }
}
