@import '~@styles/config/variables-export';

.main {
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  max-width: $app-max-width;
}

.content {
  &-desktop {
    display: flex;
  }
}

.side-bar {
  padding: 0 10px 0 20px;
  width: 100%;
  flex: 0 1 auto;
}
