@import '~@styles/config/variables';
@import '~@styles/helpers/mixins';

.products {
  padding: 0 12px;

  @include breakpoint(map-get($breakpoints, large)) {
    flex: 0 0 68%;
  }
}

.products-side-bar {
  padding: 0 0 20px;
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}
