@import '~@styles/config/variables';
@import '~@styles/helpers/mixins';

.products {
  padding: 0 12px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include breakpoint(map-get($breakpoints, large)) {
    flex: 0 0 68%;
  }
}

.footer {
  padding-bottom: 20px;
}

.products-side-bar {
  position: relative;
}
